<div class="container">
  <div class="row py-5">
    <div class="col-md-4" *ngFor="let product of allProducts">
      <div class="card">
        <img class="card-img-top" src="assets/images/{{product.imageUrl}}" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>Price:</strong> {{ product.price }}</p>
          <button class="btn btn-primary" (click)="addToCart(product,1)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
