<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#about">RichAuntie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#domestic">Domestic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#commercial">Commercial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/shop">Shop</a>
                </li>
            </ul>

            <button class="btn btn-primary btn-rounded ms-3" type="button" >REQUEST AN ESTIMATE</button>
        </div>
    </div>
</nav>

<section id="home">
    <div class="container">
        <div class="row align-items-center" style="height: 80vh;">
            <div class="col">   
                  <div class="card w-80" >
                    <div class="card-body">
                      <h3 class="card-title" style="font-weight: bold; color: white;">
                        RichAuntie <br>
                        Domestic & Commercial Cleaning Company Services.Serving the beutifull great country as
                        we clean, you take it easy – call now on +254708123315
                    </h3>
                    </div>
                  </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row align-items-center"  style="height: 50vh;">
            <div class="col">
                <h2 style="color: white;">Welcome to RichAuntie Cleaning Services</h2>
                <p style="color: white;">Professional Home and Office cleaning company serving clients in ghana
                    richauntie Cleaning Services visit your home or office at a date and time convenient for you to carry out a complete ‘top to bottom’ and thorough clean. Our team will listen to your requirements and provide a consistently good service every time. We know how important it is that we provide a first class job on every visit we make to your home or office. If you’re looking for a reliable and professional cleaner in Ghana then look no further Richauntie Cleaning Service. Please get in-touch with us today for a no obligation quotation. Family owned cleaning company based in ghana.we offer a complete range of domestic and commercial services tailored to suit your needs whether it be at your home or place of work.
                </p>
            </div>
            <div class="col">
                <img src="assets/images/home.jpg" alt="" width="600px" >
            </div>
        </div>
    </div>
</section>

<section id="domestic">
    <div class="container">
        <div class="row align-items-center" style="height: 50vh;">
            <div class="col">
                <img src="assets/images/helper.jpg" alt="" width="600px">
            </div>
            <div class="col">
                <h2>Domestic Cleaning</h2>
                <p>
The RichAuntie Domestic Cleaning Services provides a full and thorough ‘top to bottom’ clean. During our initial ‘walk through’ consultation we will visit your property and review and listen to your requirements to ensure we maintain a consistently professional service every time. Our cleaning routines can include; vacuuming throughout, hard floor clean, kitchen surfaces and sinks, coving and skirting board cleaning, tables and chairs cleaned and or polished, bathrooms, toilets and showers cleaned throughout. All shelves and surfaces dusted and/or polished.</p>

<button class="btn btn-primary btn-rounded " type="button">REQUEST AN ESTIMATE</button>
            </div>
        </div>
    </div>
</section>

<section id="commercial">
    <div class="container">
        <div class="row align-items-center" style="height: 50vh;">
            <div class="col">
                <h2 style="color: white;">Commercial Cleaning</h2>
<p style="color: white;"> RichAuntie Cleaning Services understand how important it is for your office or place of work to present a clean and professional image to your clients and customers. We will visit your office (or place of work) and tailor a cleaning package to suit your requirements. Whether you have one office, a building with multiple offices, or even an industrial unit we can provide a solution for you and your employees. We will also endeavour to create a schedule based on your ‘comings and goings’ to ensure we cause the least disruption to your working day.</p>

<button class="btn btn-primary btn-rounded " type="button">REQUEST AN ESTIMATE</button>

            </div>
            <div class="col">
                <img src="assets/images/about2.jpg" alt="" height="400px">
            </div>
        </div>
    </div>
</section>
<section id="quote">
    <div class="container">
        <div class="row align-items-center" style="height: 90vh;">
            <div class="col">
                <img src="assets/images/about2.jpg" alt="" height="400px">
            </div>
            <div class="col">
                <form style="width: 60vh;">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                    <br>
                    <label for="name">Tel:</label>
                    <input type="number" id="tel" name="tel" required>
                    <br>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <br>
                    <label for="name">Enquiring type:</label>
                    <input type="text" id="name" name="name" required>
                    <br>
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" required></textarea>
                    <br>
                    <input type="submit" value="Submit">
                  </form>
                
            </div>
        </div>
    </div>
</section>


<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center text-white py-5">
                <h4>Call now for a FREE ESTIMATE on: +254708123315</h4>
                <p>©{{ today | date :  "y" }} RichAuntie Cleaning Services.</p>
            </div>

        </div>
    </div>

</footer>

<script>
    // Get the button
    let mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
